/* Bootstrap overrides */
.tab-content>.active {
  margin-top: 15px;
}

.col-form-label {
  font-weight: bold;
}

.readonly-highlight {
  color: #fff!important;
  background-color: #17a2b8!important;
  padding-left: .4rem;
}